<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-6">
        <button class="btn btn-primary" (click)="checkPermission()" style="margin-top:10px">
            Check Permission
        </button>
        <p>Status : {{status}}</p>
    </div>
    </div>
    <div class="row">
        <div class="col-6" *ngIf="stream">
        <webcam [trigger]="$trigger" (imageCapture)="snapShot($event)"></webcam>
        <button class="btn btn-danger" (click)="captureImage()">{{btnLabel}}</button>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <img [src]="previewImage" height="250px" width="250px" alt="" class="src">
        </div>
        <h5>Preview image</h5>
    </div>
</div>
