<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" >
          <a class="nav-link" [routerLinkActiveOptions]="{exact:
            true}" routerLinkActive="active" routerLink="/header/dashboard">Dashboard</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="/header/reactiveform" routerLinkActive="active">ReactiveForm</a>
        </li>
        <li class="nav-item dropdown">
          <a routerLink="/header/products" routerLinkActive="active" class="class nav-link">Products</a>
          <!-- <a class="nav-link dropdown-toggle" routerLink="/products" routerLinkActive="active" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Products
          </a> -->
          <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div> -->
        </li>
        <li class="nav-item">
          <a  class="nav-link"  routerLink="/header/templateForm" routerLinkActive="active">TDD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/header/user">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/header/webcam">Webcam</a>
        </li>
      </ul>
    
    </div>
    <form class="form-flex my-2 my-lg-0" style="display: flex;">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  </nav>
  <router-outlet></router-outlet>

