//variables
$primary-color:#674674;
$background-color:#389494;

//modules import one sass to another
@use 'base';
//
.container {
  color: $primary-color;
  background-color: $background-color;
  height: 100px;
  width: 100px;
  border-color: 10px solid red;
}
h3{
  color:$primary-color;
}

//nesting sass
nav {
  ul{
    margin:0;
    padding:0;
    list-style: none;
  }
  li{
    display: inline-block;
  }
  a{
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}

//mixins
@mixin theme($theme:#283787){
  background: $theme;
  box-shadow: 0 0 1px rgba($theme,.25);
  color: white;
  height: 50px;
};

.info{
  @include theme;
}

