p {
  color: "#376476";
  font-size: 25px;
}

.container {
  color: #674674;
  background-color: #389494;
  height: 100px;
  width: 100px;
  border-color: 10px solid red;
}

h3 {
  color: #674674;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
}
nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}

.info {
  background: #283787;
  box-shadow: 0 0 1px rgba(40, 55, 135, 0.25);
  color: white;
  height: 50px;
}/*# sourceMappingURL=index.css.map */