$primary_color_heading:rgb(248,248,248);
$primary_color_bg:linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
$primary_color_hover:rgb(233, 97, 97);
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navigation{
    background: $primary_color_bg;
    display: flex;
    justify-content: space-between;
    &_logo{
        font-size: 2rem;
        font-weight: 600;
        padding: 8px 8px;
        margin-left: 20px;
        text-transform: uppercase;
        a{
            text-decoration: none;
            &:hover{
                color:$primary_color_hover ;
                transition: .5sec;
            }
        }
    }
    &_ul{
        li{
            display: inline-block;
            list-style-type:none;
            padding: 12px 12px;
            margin-right: 20px;
            a{
                color: $primary_color_heading;
                text-decoration: none;
                font-size: 1.3rem;
                text-transform: capitalize;
                &:hover{
                    color: $primary_color_hover;
                    transition: .5s;
                }
            }
        }

    }
}
//Banner
.banner{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image:
    url(img/img-2.jpeg);
    background-size: cover;
    background-position: center;
    &_heading{
        h1{
            font-size: 5rem;
            font-weight: 700;
            color: $primary_color_heading;
        }
        p{
          font-size: 1.2rem;
          color:$primary_color_heading;
          margin-top: -10px;
        }
        
        a{
            font-size: 1.2rem;
            padding: 10px 15px;
            text-decoration: none;
            color: #000;
            background-color: $primary_color_heading;
            &:hover{
                color: $primary_color_hover;
                
                background: transparent;
                transform: scale(1,1);
                transition: 0.6s;
                border: 1px solid green;
            }
        }
    } 
}