body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation {
  background: linear-gradient(90deg, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
  display: flex;
  justify-content: space-between;
}
.navigation_logo {
  font-size: 2rem;
  font-weight: 600;
  padding: 8px 8px;
  margin-left: 20px;
  text-transform: uppercase;
}
.navigation_logo a {
  text-decoration: none;
}
.navigation_logo a:hover {
  color: rgb(233, 97, 97);
  transition: 0.5sec;
}
.navigation_ul li {
  display: inline-block;
  list-style-type: none;
  padding: 12px 12px;
  margin-right: 20px;
}
.navigation_ul li a {
  color: rgb(248, 248, 248);
  text-decoration: none;
  font-size: 1.3rem;
  text-transform: capitalize;
}
.navigation_ul li a:hover {
  color: rgb(233, 97, 97);
  transition: 0.5s;
}

.banner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(img/img-2.jpeg);
  background-size: cover;
  background-position: center;
}
.banner_heading h1 {
  font-size: 5rem;
  font-weight: 700;
  color: rgb(248, 248, 248);
}
.banner_heading p {
  font-size: 1.2rem;
  color: rgb(248, 248, 248);
  margin-top: -10px;
}
.banner_heading a {
  font-size: 1.2rem;
  padding: 10px 15px;
  text-decoration: none;
  color: #000;
  background-color: rgb(248, 248, 248);
}
.banner_heading a:hover {
  color: rgb(233, 97, 97);
  background: transparent;
  transform: scale(1, 1);
  transition: 0.6s;
  border: 1px solid green;
}/*# sourceMappingURL=main.css.map */