
<app-header></app-header>
<div class="container">
<table class="table" id='tab'>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">occupation</th>
            <th scope="col">Email</th>
            <th scope="col">Bio</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.id}}</td>
            <td>{{ user.title}}</td>
            <td>{{ user.body}}</td>
            <td> <button (click)="userDetails(user.id)" class='btn btn-info' data-toggle="modal"
                    data-target="#myModal">Details</button> </td>
            <td><button (click)="removeUser(user.id)" class="btn btn-danger">
            Delete
            </button></td>
        </tr>
    </tbody>
</table>
</div>