<!-- Registration 13 - Bootstrap Brain Component -->
<section class="bg-light py-3 py-md-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
          <div class="card border border-light-subtle rounded-3 shadow-sm">
            <div class="card-body p-3 p-md-4 p-xl-5">
              <h2 class="fs-6 fw-normal text-center text-secondary mb-4">Enter your details to register</h2>
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="row gy-2 overflow-hidden">
                  <div class="col-12">
                    <div class="form-floating mb-3">
                      <input type="email" formControlName="email" class="form-control" name="email" id="email" placeholder="name@example.com">
                      <label for="email" class="form-label">Email</label>
                    </div>
                    <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].touched)">email is required</div>
                  </div>
                  <div class="col-12">
                    <div class="form-floating mb-3">
                      <input type="password" formControlName="password" class="form-control" name="password" id="password" placeholder="Password">
                      <label for="password" class="form-label">Password</label>
                    </div>
                    <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].touched)">password is required</div>
                  </div>
                
                  <div class="col-12">
                    <div class="d-grid my-3">
                      <button [disabled]="this.loginForm.invalid" class="btn btn-primary btn-lg" type="submit">Login</button>
                    </div>
                  </div>
                  <div class="col-12">
                    <p class="m-0 text-center text-secondary">Don't have an account? <a class="link-primary text-decoration-none" routerLink="/register">Signup</a></p>
                  </div>
              
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
