<!-- Registration 13 - Bootstrap Brain Component -->
<section class="bg-light py-3 py-md-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
          <div class="card border border-light-subtle rounded-3 shadow-sm">
            <div class="card-body p-3 p-md-4 p-xl-5">
              <h2 class="fs-6 fw-normal text-center text-secondary mb-4">Enter your details to register</h2>
              <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="row gy-2 overflow-hidden">
                  <div class="col-12">
                    <div class="form-floating mb-3">
                      <input type="text" formControlName="firstName" class="form-control"  id="firstName" placeholder="First Name" >
                      <label for="firstName" class="form-label">First Name</label>
                    </div>
                    <div *ngIf="registerForm.controls['firstName'].invalid && (registerForm.controls['firstName'].touched)">First Name required</div>
                  </div>
                  <div class="col-12">
                    <div class="form-floating mb-3">
                      <input type="text" formControlName="lastName" class="form-control"  id="lastName" placeholder="Last Name" >
                      <label for="lastName" class="form-label">Last Name</label>
                    </div>
                    <div *ngIf="this.registerForm.controls.lastName.invalid && (this.registerForm.controls.lastName.touched || this.registerForm.controls.lastName.dirty)">Last name required</div>
                  </div>
                  <div class="col-12">
                    <div class="form-floating mb-3">
                      <input type="email" formControlName="email" class="form-control" id="email" placeholder="name@example.com">
                      <label for="email" class="form-label">Email</label>
                    </div>
                    <div *ngIf="this.registerForm.controls.email.invalid && (this.registerForm.controls.email.touched || this.registerForm.controls.email.dirty)">Email required</div>
                  </div>
                  <div class="col-12">
                    <div class="form-floating mb-3">
                      <input type="password" formControlName="password" class="form-control"  id="password"  placeholder="Password" >
                      <label for="password" class="form-label">Password</label>
                    </div>
                    <div *ngIf="this.registerForm.controls.password.hasError('minlength') &&  (this.registerForm.controls.password.touched || this.registerForm.controls.password.dirty)">password should 3 length</div>
                  </div>
                  <div class="col-12">
                    <div class="form-check">
                      <input  class="form-check-input" type="checkbox"  id="iAgree" formControlName="agree" >
                      <label class="form-check-label text-secondary" for="iAgree">
                        I agree to the <a href="#!" class="link-primary text-decoration-none">terms and conditions</a>
                      </label>
                    </div>
                     <div *ngIf="registerForm.controls['agree'].errors" class="invalid-feedback">Accept Ts & Cs is required</div>

                  </div>
                  <div class="col-12">
                    <div class="d-grid my-3">
                      <button type="submit" class="btn btn-primary btn-lg" [disabled]="registerForm.invalid">Sign up</button>
                    </div>
                  </div>
                  <div class="col-12">
                    <p class="m-0 text-secondary text-center">Already have an account? <a routerLink="/login" class="link-primary text-decoration-none">Sign in</a></p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
