/* .container{
   display: inline;
} */
.box{
    width: 150px;
    height: 150px;
    border-radius: 15px;
    font-size: 8em;
    text-align: center;
    display: inline-block;
    align-items: center;

}
#box1{
    background-color: aqua;
}
#box2{
    background-color: blueviolet;
}
#box3{
    background-color: cadetblue;
}
#box4{
    background-color: coral;
}
.main{
    margin-bottom: 20px;
}
p{
    display:inline-block;
    font-size: 20px;
    top:30px;
    background-color:aqua;

  }
.main2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:crimson;
    height: 200px;
}
.main2 div{
    border: 2px solid green;
    color: blanchedalmond;
    height: 100px;
    width: 100px;
    background-color: black;
}
.main3{
    border: 5px solid orchid ;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.zbox{
    height: 100px;
    width: 100px;
    position:relative;
    text-align: center;
    top: 50%;
}

.box-red{
    background-color: red;
    z-index: 1;
}
.box-blue{
    background-color:chartreuse;
    left: 50px;
    bottom: 80px;
    z-index: 2;
}
.box-grey{
    background-color:darkgoldenrod;
    z-index: 3;
    left: 100px;
    bottom: 160px;
}