<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-6">
        <form #signUp="ngForm" (ngSubmit)="formSubmit(signUp)"> 
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input class="form-control" type="text" name="firstName" ngModel required>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input  class="form-control" type="text" name="lastName" ngModel required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input  class="form-control" type="text" name="email" ngModel required>
        </div>
        <div class="form-group">
            <label for="lastName">Gender:</label>
            <div>
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                <label class="form-check-label" for="exampleRadios1">
                  Male
                </label>
              </div>
              <div>
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                Female
                </label>
              </div>
        </div>
        <div class="form-group">
            <label for="isMarried">Married : </label> &nbsp;
            <input  class="form-check-input" type="checkbox" name="isMarried" ngModel required>
        </div>
        <div class="form-group">
        <label for="exampleFormCountrySelect">Select Country</label>

        <select class="form-control" name="country" ngModel id="exampleFormCountrySelect" required>
            <option value="country" [ngValue]="item.id" *ngFor="let item of countryList">
                {{item.name}}
            </option>
        </select>
        </div>
      
            <button type="submit" [disabled]="signUp.invalid" class="btn btn-primary t-10">Submit</button>
       
    </form>
</div>
</div>
</div>