
<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
        <h4>Pie Chart</h4>
        <canvas id="piechart"></canvas>
    </div>
    <div class="col-lg-6">
        <h4>Bar Chart</h4>
        <canvas id="barchart"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
        <h4>Bubble Chart</h4>
        <canvas id="bubblechart"></canvas>
    </div>
    <div class="col-lg-6">
        <h4>Doughnut Chart</h4>
        <canvas id="doughnutchart"></canvas>
    </div>
    
  </div>
</div>

